# Transportation Problem 1

In [21]:
from pulp import *
import numpy as np
import pandas as pd

In [22]:
df=pd.read_csv('C:/Users/GS/Desktop/OR_Lab/TP_11.csv')

In [23]:
df

    A1   A2   A3   A4  Resource
0  5.0  2.0  4.0  3.0        22
1  4.0  8.0  1.0  6.0        15
2  4.0  6.0  7.0  5.0         8
3  NaN  NaN  NaN  NaN         7
4  NaN  NaN  NaN  NaN        12
5  NaN  NaN  NaN  NaN        17
6  NaN  NaN  NaN  NaN         9

In [24]:
## Define Data

nvar=4
ncons=3
cost=df.iloc[0:3,0:4].to_numpy()          
resources=list(df['Resource'].iloc[0:7])

In [25]:
# Define the model
model1 = LpProblem("LPP1",LpMinimize)

# Define the decision variables
x = {i: LpVariable(name=f"x{i}", lowBound=0, cat='Integer') for i in range(1, nvar+1)}
y = {i: LpVariable(name=f"y{i}", lowBound=0, cat='Integer') for i in range(1, nvar+1)}
z = {i: LpVariable(name=f"z{i}", lowBound=0, cat='Integer') for i in range(1, nvar+1)}

# Set the objective 
model1+=lpSum(cost[0,i-1]*x[i] for i in range(1,nvar+1))+lpSum(cost[1,i-1]*y[i] for i in range(1,nvar+1))+lpSum(cost[2,i-1]*z[i] for i in range(1,nvar+1))

In [26]:
# Add constraints

model1 += lpSum(x[i] for i in range(1,nvar+1))==resources[0]
model1 += lpSum(y[i] for i in range(1,nvar+1))==resources[1]
model1 += lpSum(z[i] for i in range(1,nvar+1))==resources[2]
for j in range(1,nvar+1):
  model1 += lpSum(x[j]+y[j]+z[j])==resources[j+2]

In [27]:
# Print Model
print(model1)

LPP1:
MINIMIZE
5.0*x1 + 2.0*x2 + 4.0*x3 + 3.0*x4 + 4.0*y1 + 8.0*y2 + 1.0*y3 + 6.0*y4 + 4.0*z1 + 6.0*z2 + 7.0*z3 + 5.0*z4 + 0.0
SUBJECT TO
_C1: x1 + x2 + x3 + x4 = 22

_C2: y1 + y2 + y3 + y4 = 15

_C3: z1 + z2 + z3 + z4 = 8

_C4: x1 + y1 + z1 = 7

_C5: x2 + y2 + z2 = 12

_C6: x3 + y3 + z3 = 17

_C7: x4 + y4 + z4 = 9

VARIABLES
0 <= x1 Integer
0 <= x2 Integer
0 <= x3 Integer
0 <= x4 Integer
0 <= y1 Integer
0 <= y2 Integer
0 <= y3 Integer
0 <= y4 Integer
0 <= z1 Integer
0 <= z2 Integer
0 <= z3 Integer
0 <= z4 Integer

In [28]:
# Solve the optimization problem
status = model1.solve()

In [29]:
status

1

In [30]:
# Get the results
print('##############Solution of LPP is ##################\n\n')
print(f"status: {model1.status}, {LpStatus[model1.status]}")
print(f"objective: {round(model1.objective.value(),2)}")

for var in x.values():
    print(f"{var.name}: {var.value()}")

for var in y.values():
    print(f"{var.name}: {var.value()}")

for var in z.values():
    print(f"{var.name}: {var.value()}")

##############Solution of LPP is ##################


status: 1, Optimal
objective: 104.0
x1: 0.0
x2: 12.0
x3: 2.0
x4: 8.0
y1: 0.0
y2: 0.0
y3: 15.0
y4: 0.0
z1: 7.0
z2: 0.0
z3: 0.0
z4: 1.0

# Transportation Problem 2

In [31]:
df=pd.read_csv('C:/Users/GS/Desktop/OR_Lab/TP_22.csv')

In [32]:
df

    A1    A2    A3    A4    A5  Resource
0  3.0   4.0   6.0   8.0   9.0        20
1  2.0  10.0   1.0   5.0   8.0        30
2  7.0  11.0  20.0  40.0   3.0        15
3  2.0   1.0   9.0  14.0  16.0        13
4  NaN   NaN   NaN   NaN   NaN        40
5  NaN   NaN   NaN   NaN   NaN         6
6  NaN   NaN   NaN   NaN   NaN         8
7  NaN   NaN   NaN   NaN   NaN        18
8  NaN   NaN   NaN   NaN   NaN         6

In [33]:
## Define Data

nvar=5
ncons=4
cost=df.iloc[0:4,0:6].to_numpy()          
resources=list(df['Resource'].iloc[0:9])

In [34]:
# Define the model
model2 = LpProblem("LPP2",LpMinimize)

# Define the decision variables
a = {i: LpVariable(name=f"a{i}", lowBound=0, cat='Integer') for i in range(1, nvar+1)}
b = {i: LpVariable(name=f"b{i}", lowBound=0, cat='Integer') for i in range(1, nvar+1)}
c = {i: LpVariable(name=f"c{i}", lowBound=0, cat='Integer') for i in range(1, nvar+1)}
d = {i: LpVariable(name=f"d{i}", lowBound=0, cat='Integer') for i in range(1, nvar+1)}

# Set the objective 
model2+=lpSum(cost[0,i-1]*a[i] for i in range(1,nvar+1))+lpSum(cost[1,i-1]*b[i] for i in range(1,nvar+1))+lpSum(cost[2,i-1]*c[i] for i in range(1,nvar+1))+lpSum(cost[3,i-1]*d[i] for i in range(1,nvar+1))

In [35]:
# Add constraints
model2 += lpSum(a[i] for i in range(1,nvar+1))==resources[0]   
model2 += lpSum(b[i] for i in range(1,nvar+1))==resources[1]
model2 += lpSum(c[i] for i in range(1,nvar+1))==resources[2]
model2 += lpSum(d[i] for i in range(1,nvar+1))==resources[3]
for j in range(1,nvar+1):
  model2 += lpSum(a[j]+b[j]+c[j]+d[j])==resources[j+3]

In [36]:
# Print Model
print(model2)

LPP2:
MINIMIZE
3.0*a1 + 4.0*a2 + 6.0*a3 + 8.0*a4 + 9.0*a5 + 2.0*b1 + 10.0*b2 + 1.0*b3 + 5.0*b4 + 8.0*b5 + 7.0*c1 + 11.0*c2 + 20.0*c3 + 40.0*c4 + 3.0*c5 + 2.0*d1 + 1.0*d2 + 9.0*d3 + 14.0*d4 + 16.0*d5 + 0.0
SUBJECT TO
_C1: a1 + a2 + a3 + a4 + a5 = 20

_C2: b1 + b2 + b3 + b4 + b5 = 30

_C3: c1 + c2 + c3 + c4 + c5 = 15

_C4: d1 + d2 + d3 + d4 + d5 = 13

_C5: a1 + b1 + c1 + d1 = 40

_C6: a2 + b2 + c2 + d2 = 6

_C7: a3 + b3 + c3 + d3 = 8

_C8: a4 + b4 + c4 + d4 = 18

_C9: a5 + b5 + c5 + d5 = 6

VARIABLES
0 <= a1 Integer
0 <= a2 Integer
0 <= a3 Integer
0 <= a4 Integer
0 <= a5 Integer
0 <= b1 Integer
0 <= b2 Integer
0 <= b3 Integer
0 <= b4 Integer
0 <= b5 Integer
0 <= c1 Integer
0 <= c2 Integer
0 <= c3 Integer
0 <= c4 Integer
0 <= c5 Integer
0 <= d1 Integer
0 <= d2 Integer
0 <= d3 Integer
0 <= d4 Integer
0 <= d5 Integer

In [37]:
# Solve the optimization problem
status = model2.solve()

In [38]:
# Get the results
print('##############Solution of LPP is ##################\n\n')
print(f"status: {model2.status}, {LpStatus[model2.status]}")
print(f"objective: {round(model2.objective.value(),2)}")

for var in a.values():
    print(f"{var.name}: {var.value()}")

for var in b.values():
    print(f"{var.name}: {var.value()}")

for var in c.values():
    print(f"{var.name}: {var.value()}")

for var in d.values():
    print(f"{var.name}: {var.value()}")

##############Solution of LPP is ##################


status: 1, Optimal
objective: 267.0
a1: 20.0
a2: 0.0
a3: 0.0
a4: 0.0
a5: 0.0
b1: 4.0
b2: 0.0
b3: 8.0
b4: 18.0
b5: 0.0
c1: 9.0
c2: 0.0
c3: 0.0
c4: 0.0
c5: 6.0
d1: 7.0
d2: 6.0
d3: 0.0
d4: 0.0
d5: 0.0